.empty{
  text-align: center;
  padding: 10rem 0;
  &__title{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: #222;
    letter-spacing: .2rem;
    font-weight: 400;
    padding-top: 10rem;
  }
  &__button{
    text-align: center;
    padding: 1rem 4.5rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    border-radius: .3rem;
    background-color: #ffb900;
    color: #fff;
    outline: none;
    border: 1px solid transparent;
    transition: .2s ease;
    margin-bottom: 5rem;
    &:hover{
      border-color: #ffb900;
      background: transparent;
      color: #222;
      cursor: pointer;
    }
  }
}